@media only screen and (max-width: 600px) {
  .example {
    padding: 5px;
  }
}


/*-- My Account Content -*/
.myaccount-content {
  background-color: #ffffff;
  font-size: 15px;
  border: 1px solid #eeeeee;
  padding: 30px;
}

.myaccount-content h3 {
  border-bottom: 1px dashed #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.account-details-form {
    & h4 {
        margin-top: 5px;
        border-bottom: 1px dashed #eeeeee;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
  
    & input {
        display: block;
        width: 100%;
        border: 1px solid #ebebeb;
        border-radius: 0;
        line-height: 24px;
        padding: 11px 25px;
        color: #656565;
    }
  }

.account-details-form2 {
    & input {
        margin-bottom: 8px;
    }
}
.form-box {
    
	max-width: 850px;
  margin-bottom: 8rem;
	background-color: #fff;
	padding: 2.2rem 2rem 4.4rem;
	box-shadow: 0 3px 16px rgba(51, 51, 51, .1);

	.btn {
    width: 100%;
    text-align: center;
	}
}