<div class="modal-body">
  <div class="form-box">
    <div class="myaccount-content">
        <h3>Account Details</h3>

        <div class="account-details-form">
            <form [formGroup]="form" (ngSubmit)="update()">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-30">
                        <input id="first-name" placeholder="{{somePlaceholder}}" type="text" formControlName="firstName">
                    </div>

                    <div class="col-lg-6 col-12 mb-30">
                        <input id="last-name" placeholder="Last Name" type="text" formControlName="lastName">
                    </div>
                    <br>
                    <br>

                    <div class="col-lg-6 col-12 mb-30">
                        <input id="new-pwd" placeholder="New Password" type="password">
                    </div>

                    <div class="col-lg-6 col-12 mb-30">
                        <input id="confirm-pwd" placeholder="Confirm Password" type="password" formControlName="newPassword">
                    </div>

                    <!-- <div class="account-details-form2"> -->
                    <div class="col-lg-12 col-12 mb-30">
                        <h4>Shipping Address</h4>
                    </div>
                    <br>

                    <div class="col-lg-12 col-12 mb-30">
                        <input id="address-line1" placeholder="Address" type="text" formControlName="address_line1">
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-12 col-12 mb-30">
                        <input id="address-apartment" placeholder="Apartment, suite, etc. (Optional)" type="text" formControlName="address_apartment">
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-4 col-4 mb-30">
                        <input id="country" placeholder="Country" type="text" formControlName="country">
                    </div>

                    <div class="col-lg-4 col-4 mb-30">
                        <input id="state" placeholder="State" type="text" formControlName="state">
                    </div>

                    <div class="col-lg-4 col-4 mb-30">
                        <input id="zip-code" placeholder="ZIP Code" type="text" formControlName="zip_code">
                    </div>
                </div>
                <br>
                    <div class="col-12 mb-30">
                    <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>SAVE CHANGES</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="col">
                          <button class="btn btn-outline-primary-2" (click)="logout()">
                            <span>LOG OUT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </div>
                      </div>
                    </div>

            </form>
        </div>
    </div>


 

</div>
</div>

