<nav class="main-nav" >
  <ul class="menu sf-arrows">
    <li class="megamenu-container" [class.active]="current=='/' || current.startsWith('/?')">
      <a routerLink="/"  class="sf-without-ul">Home</a>
    </li>

    <li [class.active]="current.includes('/shop')">
      <a routerLink="/shop/sidebar/3cols" class="sf-without-ul" >Shop</a>
    </li>


    <li [class.active]="current.includes('/pages')">
      <a href="javascript:;" class="sf-with-ul">More</a>

      <ul>
        <!-- <li [class.active]="current.includes('/admin/tracking')">
          <a routerLink="/shop/tracking" >Track Order</a>
        </li> -->
        <li [class.active]="current.includes('pages/about')">
          <a routerLink="/pages/about">About Us</a>
        </li>
        <li [class.active]="current.includes('pages/contact')">
          <a routerLink="/pages/contact">Contact Us</a>
        </li>
        <li [class.active]="current.includes('pages/faq')">
          <a routerLink="/pages/faq">FAQs</a>
        </li>
      </ul>
    </li>



    <!-- auth guard -->
    <!-- <li *ngIf="!this.firebaseService.isLoggedIn"[class.active]="current.includes('login')">
      <a routerLink="/auth/login" class="sf-without-ul">SIGN IN | REGISTER</a>
    </li>

    <li *ngIf="this.firebaseService.isLoggedIn" [class.active]="current.includes('profile')">
      <a routerLink="/auth/profile" class="sf-without-ul">Dashboard</a>
    </li> -->
  </ul>
</nav>
