<main class="main home-page">
    <div class="intro-slider-container mb-4">
        <owl-carousel carouselClasses="intro-slider owl-simple owl-nav-inside owl-nav-inside" [options]="introSlider">
            <div class="intro-slide" style="background-image: url(assets/images/home/sliders/slide-4.jpg);">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle text-primary">TOP PICKS</h3>
                    <h1 class="intro-title">Good Stuff <br>Is Here!</h1>

                    <a routerLink="/shop/sidebar/list" class="btn btn-outline-primary-2">
                        <span>DISCOVER MORE</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="intro-slide" style="background-image: url(assets/images/home/sliders/slide-2.jpg);">
                <div class="container intro-content" contentAnim aniName="fadeInUpShorter">
                    <h3 class="intro-subtitle text-primary">all at 10% off</h3>
                    <h1 class="intro-title text-white">The Most Beautiful <br>Novelties In Our Shop</h1>

                    <a routerLink="/shop/sidebar/list" class="btn btn-outline-primary-2 min-width-sm">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </owl-carousel>
    </div>

    <div class="container page-content skeleton-body skel-shop-products position-relative bg-white" [class.loaded]="loaded" style="z-index: 100;">
        <div class="toolbox toolbox-filter">
            <div class="toolbox-left">
                <a href="javascript:;" class="filter-toggler" (click)="filterToggle( $event )">Filters</a>
                <button class="button filter-toggler mobile-mode" (click)="showSidebar()">Filters</button>
            </div>
            <div class="toolbox-right">
                <ul class="nav-filter product-filter" role="tablist" *ngIf="!params['category'] else noFilterBlock">
                    <li class="active"><a role="tab" href="javascript:;" (click)="filterProducts($event, 'all')">All</a></li>
                    <li><a role="tab" href="javascript:;" (click)="filterProducts($event, 'furniture')">Sizes</a></li>
                    <li><a role="tab" href="javascript:;" (click)="filterProducts($event, 'lighting')">Colour</a></li>
                    <li><a role="tab" href="javascript:;" (click)="filterProducts($event, 'decoration')">Boxes</a></li>
                    <li><a role="tab" class="pr-0" href="javascript:;" (click)="filterProducts($event, 'electronics')">Electronics</a></li>
                </ul>
                <ng-template #noFilterBlock>
                    <ul class="nav-filter product-filter">
                        <li routerLinkActive="active">
                            <a [routerLink]="">All</a>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    
        <button class="sidebar-fixed-toggler" *ngIf="isToggle" (click)="toggleSidebar()"><i class="icon-cog"></i></button>

        <div class="sidebar-filter-overlay" *ngIf="isToggle" (click)="hideSidebar()"></div>

        <div class="widget-filter-area" id="product-filter-area" [ngClass]="isToggle ? '' : 'display-none transition-none'">
            <div class="clean-close">
                <a [routerLink]="" class="widget-filter-clear">Clean All</a>
                <a href="#" class="widget-close" (click)="hideSidebar()">
                    <i class="icon-close"></i>
                </a>
            </div>
            <div class="filter-area-wrapper">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="widget mb-0">
                            <h3 class="widget-title">
                                Category:
                            </h3>

                            <div class="filter-items filter-items-count">
                                <div class="filter-item">
                                    <a [routerLink]="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All</a>
                                    <span class="item-count">35</span>
                                </div>
                                <div class="filter-item" *ngFor="let item of homeData.categories">
                                    <a [routerLink]="" [queryParams]="{category: item.slug}"
                                        routerLinkActive="active">{{ item.name }}</a>
                                    <span class="item-count">{{ item.count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <div class="widget mb-0">
                            <h3 class="widget-title">
                                Sort by:
                            </h3>
    
                            <div class="filter-items">
                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-1" name="sortby" [checked]="!params['orderBy'] || params['orderBy'] == 'default'" (change)="sortByChange( $event, 'default' )" />
                                        <label class="custom-control-label" for="sort-1">Default</label>
                                    </div>
                                </div>

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-2" name="sortby" [checked]="params['orderBy'] == 'featured'" (change)="sortByChange( $event, 'featured' )" />
                                        <label class="custom-control-label" for="sort-2">Popularity</label>
                                    </div>
                                </div>

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-3" name="sortby" [checked]="params['orderBy'] == 'rating'" (change)="sortByChange( $event, 'rating' )" />
                                        <label class="custom-control-label" for="sort-3">Average Rating</label>
                                    </div>
                                </div>

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-4" name="sortby" [checked]="params['orderBy'] == 'new'" (change)="sortByChange( $event, 'new' )" />
                                        <label class="custom-control-label" for="sort-4">Newness</label>
                                    </div>
                                </div>

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-5" name="sortby" [checked]="params['orderBy'] == 'low-to-high'" (change)="sortByChange( $event, 'low-to-high' )" />
                                        <label class="custom-control-label" for="sort-5">Price: Low to High</label>
                                    </div>
                                </div>

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" id="sort-6" name="sortby" [checked]="params['orderBy'] == 'high-to-low'" (change)="sortByChange( $event, 'high-to-low' )" />
                                        <label class="custom-control-label" for="sort-6">Price: High to Low</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <div class="widget mb-0">
                            <h3 class="widget-title">
                                Colour:
                            </h3>
    
                            <div class="filter-colors filter-colors-vertical">
                                <a [routerLink]="" [queryParams]="{color: getUrlForAttrs('color', item.color_name), page: 1}"
                                    queryParamsHandling="merge" [style.background-color]="item.color"
                                    [class.selected]="containsAttrInUrl('color', item.color_name)"
                                    *ngFor="let item of shopData.colors">
                                    <span>{{ item.color_name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <div class="widget mb-0">
                            <h3 class="widget-title">
                                Price:
                            </h3>
    
                            <div class="filter-price">
                                <div class="filter-price-text d-flex justify-content-between">
                                    <span>
                                        Price Range:
                                        <span class="filter-price-range">${{ priceRange[0] * 10 }} -
                                        ${{ priceRange[1] * 10 }}</span>
                                    </span>
                                    <a href="javascript:;" class="pr-2" (click)="filterPrice()">Filter</a>
                                </div>

                                <div class="price-slider">
                                    <nouislider #priceSlider [connect]="[true, true, true]" [min]="0" [max]="100" [step]="5"
                                        [(ngModel)]="priceRange" [pageSteps]="1" (change)="changeFilterPrice($event)"
                                        style="padding: 0 1.5rem;">
                                    </nouislider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-container" *ngIf="products.length == 0 && loaded else productsBlock">
            <p class="no-results">No products matching your selection.</p>
        </div>
        <ng-template #productsBlock>
            <div class="products-container">
                <div class="row" *ngIf="!loaded else loadedBlock">
                    <div class="skel-pro col-6 col-md-4 col-lg-3" *ngFor="let item of [1,2,3,4,5,6,7,8]"></div>
                </div>
                <ng-template #loadedBlock>
                    <molla-isotope-grid [options]="isotopeOption" #isotope>
                        <div class="col-1 grid-sizer"></div>
                        <div [ngClass]="getProductCategory(product)" *ngFor="let product of displayProducts; trackBy : trackByFn">
                            <molla-product-twelve [product]="product"></molla-product-twelve>
                        </div>
                    </molla-isotope-grid>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div class="load-more-container text-center mt-0 mb-7">
        <a
            href="javascript:;"
            class="btn btn-outline-dark-3 btn-load-more"
            (click)="loadMore()"
            *ngIf="loadMoreLoading || products.length < totalCount"
        >
            <span>More products</span>
            <i class="icon-refresh" [class.load-more-rotating]="loadMoreLoading"></i>
        </a>
    </div>
</main>